.sidebar-main{
   background-color: white;
   top: 0%;
   left: 0%;
   height:98vh;
   width: 16rem;
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
   position: absolute;
}