:root{
   --cursor: pointer;
   --box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
   --padding: 10px;

}


*, *::before, *::after {
   box-sizing: border-box;
 }
 
 body {
   background-color: white;
   margin: 0;
 }


.main{
   padding: var(--padding);
   /* display: flex;
   flex-direction: row;
   gap: 10px; */
}
.sidebar{
   margin: 7px 0px 4px 8px;
   padding: var(--padding);
   width: 50vh;
   height: 50vh;
   background-color: rgb(237, 242, 250);
   border-radius: 20px;
   position: static;
   box-shadow:var(--box-shadow);
}

.collebrative {
   margin-top: 3px;
   padding: var(--padding);
   display: flex;
   justify-content: center;
   gap: 20px;
   box-shadow: var(--box-shadow);
   border-radius: 20px;
   background-color:white;
}

.chat :hover{
   cursor:var(--cursor);
   box-shadow: var(--box-shadow);
}

.stream :hover{
   cursor: var(--cursor);
   box-shadow: var(--box-shadow);
}
.meet:hover{
   cursor: var(--cursor);
   box-shadow: var(--box-shadow);
}

.container .ql-editor {
   width: 8.5in;
   min-height: 11in;
   padding: 1in;
   margin: 5rem;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
   
 }
 
 .container .ql-container.ql-snow {
   border: none;
   display: flex;
   justify-content: center;
   background-color:white;
 }
 
 .container .ql-toolbar.ql-snow {
   display: flex;
   justify-content: center;
   position: sticky;
   margin:6px 16px 8px 16px ;
   min-height: 40px;
   padding:  8px 0px 8px;
   border-radius: 24px; 
   top:0;
   z-index: 1;
   border: none;
   background-color: rgb(237, 242, 250);
 }
 
 
 @page {
   margin: 1in;
 }
 
 @media print {
   body {
     background: none;
   }
 
   .container .ql-editor {
     width: 6.5in;
     height: 9in;
     padding: 0;
     margin: 0;
     box-shadow: none;
     align-self: flex-start;
   }
 
   .container .ql-toolbar.ql-snow {
     display: none;
   }
   .sidebar{
    display: none;
   }
 }
 @media screen {
  
 }
 