

.nav-container{
  /* background-color: aqua; */
}
.gallery{
  margin: 0px;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  background:white;
}
.gallery img {
  margin: 7px 0px 4px 8px;
  width: 55px;
  height: 58px;
  padding: 8px;
}
.gallery :hover {
  border: 0px solid #777;
  cursor: pointer;
}
.text{
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  padding: auto;
}
.text h1{
  margin: 0px;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.text ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-family: "Google Sans", Roboto, sans-serif;
  gap: 10px;
}

@media print {
  body {
    background: none;
  }
  .nav-container{
   display: none;
  }
}